*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
}
.container{
    width: 400px;
    height: min-content;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
}
.searchBox{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchBox input{
width: 84%;
font-size: 20px;
border: none;
text-transform:capitalize ;
color: #000;
background-color: #e6f5fb;
padding: 12px 18px;
border-radius: 14px;
}
.searchBoxinput::placeholder{
    color: #000
}
.searchBox button{
    width: 46px;
    height: 46px;
    border:none;
    color: #1f1d1dc8;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px
}

.searchBox button:hover{
    color: #ffffff;
    background-color: #1f1d1d7e;
}
.weatherBody{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;

}
.weatherBody img{
    width: 60%;

}
.weatherBox{
    margin-block: 20px;
    text-align: center;

}
.weatherBox .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weatherBox .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weatherBox .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weatherDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.humidity, .wind{
display: flex;
align-items: center;

}
.humidity{
    margin-left: 20px;
    
}
.wind{
    margin-right: 20px;

}
.weatherDetails i{
    font-size: 36px;

}
.weatherDetails .text{
margin-left: 10px;
font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}
.location-not-found{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
     
}
.location-not-found img{
    width: 80%;
}